@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&family=Roboto+Slab:wght@700&display=swap');
/* Global styles */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif; */
:root{
    --main-font: 'Playfair Display', serif;
    --secondary-font: 'Roboto Slab', serif;
    --body-font: 'Roboto Slab', serif;
    --main-font-color-light: #fff;
    --main-font-color-dark: #252934;
    --secondary-font-color: #00ccff;
    --body-font-color: #252934;
}
/* 252934  00ccff */
html{
    font-family: var(--body-font);
    font-size: 8px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem;
}

img{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
}

p{
    font: 1.6rem;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
/* herder style */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.5),transparent);
}

.nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 4.3rem;
    /* border-bottom: 2px solid #fff; */
    transform: rotate(0deg) scale(1);
    transition: transform 1s;
}
.logo:hover{
    transform: rotate(360deg) scale(1.5);
}

.menu-toggle{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times{
    display: none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--body-font-color);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1250;
    opacity: 1;
    transform: translateX(-100%);
    transition: all 1.5s;
}

.open .fa-times{
    display: block;
}

.open .fa-hamburger{
    display: none;
}

.open .nav-list{
    opacity:1;
    transform: translateX(0%);
}

.nav-item{
    border-bottom: 2px solid rgba(255,255,255,.5);
}

.nav-link{
    display:block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
    text-align: center;
    transform: translateY(0px) scale(1);
    transition: transform .5s;
}

.nav-link:hover{
    color: var(--secondary-font-color);
    transform: translateY(-10px) scale(2);
}


.hero{
    width: 100%;
    height: 100vh;
    background-image: url('./img/pineapple-supply-co-KNs6fcm_VG0-unsplash.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}



h1{
    font-size: 3.5rem;
    color: var(--main-font-color-light);
    font-weight: 400;
    line-height: .9;
    letter-spacing: 2px;
}
.swap-text{
    position: relative;
   
}

.first, .second, .third{
    color: var(--secondary-font-color);
    font-family: 'Playfair Display', serif;    
    font-weight: 800;
    text-shadow: 1px 1px 1px #fff;
}

.first{
   position: relative;
   width: 100%;
   opacity: 1; 
   animation:  fadeOut 4s forwards;
}



.second{
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
   opacity: 0;     
   animation:  fadeInOut 4s 4s forwards;
}
.third{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation:  fadeIn 4s 8s forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
      
       opacity: 0;
       
    }
}

@keyframes fadeInOut{
    0%{
        opacity: 0;
    }
    50%{
       opacity: 1;
    }
    100%{
        opacity:0;
    }
}

@keyframes up {
    0%{
        opacity: 0;
    }
    50%{
       opacity: 1;
    }
    100%{
        opacity:0;
        transform: translateY(-1rem);
    }
}

.sub-headline{
    color: var(--secondary-font-color);
    font-size: 3rem;
    font-family: var(--main-font);
    text-shadow: 1px 1px 1px #fff;
}

.sub-headline p::first-letter{
    font-size: 5rem;
}

.headline{
    color: var(--main-font-color-dark);
    font-size: 2rem;
    letter-spacing: .7rem;
    margin-right: -.7rem;
    text-transform: uppercase;
}

.global-headline{
    text-align: center;
    /* margin-top: 0.9rem; */
}

.discover-my-story .global-headline{
    /* margin-top: 0.9rem; */
}

.separator{
    color: var(--secondary-font-color);
    margin: 2.4rem 0;
    font-size: 1.5rem;
    /* text-shadow: 1px 1px 1px #fff; */
}

.my-info{
    text-align: center;
}

.about-me{
    margin-bottom: 3rem;
}

.about-me p{
    line-height: 1.2;
}



.my-skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 2rem;
}

.skill-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 10rem;
   height: 17rem;
   border-radius: 10px;    
    background-color: var(--main-font-color-dark)  ;
    box-shadow:#000 5px 5px 2px;
    box-sizing: border-box;
    padding: 0 1rem;
}
.skill-box:hover{
    background-color: var(--secondary-font-color);
}

.emphasize{
    color: #fff;
    font-size: 1.5rem;
    ;
}

.skill-box i{
    margin-bottom: 1rem;
    font-size: 4rem;
    color: #fff;
    margin: 1rem 0;
}
.skill-box p{
    color: #fff;
}

section:nth-child(4){
    background: url('./img/retrosupply-kZvmEpyfiJs-unsplash.jpg') center no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section:nth-child(6){
    background: url('./img/retrosupply-jLwVAUtLOAQ-unsplash.jpg') center no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-project-grid{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.project-item{
    margin: 0 1rem;
   
    
}

.my-project-grid h3{
    margin-bottom: 1rem;
}

.project-description{
    margin-bottom: 2rem;
}



.project-item img{
    /* height: 150px; */
   vertical-align: middle;
    /* max-height: 200px; */
    filter: grayscale(50%);
}

.project-item img:hover{
    filter: grayscale(0%);
}



.contact{
    background-color: var(--main-font-color-dark);
    position: relative;
}
.contact p{
color: aliceblue;
text-align: center;

}

/* Form */


.back-to-top{
    width: 5rem;
    height: 5rem;   
    background-color:var(--body-font-color);
    position: absolute;
    left: 50%;
    top: -2rem;
    transform: translateX(-50%);
    border-radius: 50%;

}

.back-to-top i{
    color: #fff;
    display: block;
    font-size: 1.5rem;
    padding: 1.5rem 1.85rem;
    animation: up 2s infinite;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    align-items: center;
    /* text-align: center; */
    width: 100%;
}

input{
    height: 2rem;
}

input, textarea{
    margin: .5rem;
    width: 30rem;
    background-color: #1e242c;
    border-radius: 2px;
    border: none;
    padding: .5rem 1rem;
    color: #fff;
    
}

.body-btn{
    font-size: 1.5rem;
    color: #fff;
  border: none;
    border-radius: 2px;
    padding: 5px 15px;
    margin-top: 1rem;
    background-color: #1e242c;    
}
.body-btn:hover{
    background-color: #fff;
    color: #000;
}

.social-group{
    display: flex;
    
    justify-content: center;

}

.social-link{
    color: #fff;
    font-size: 3rem;
    padding: 2rem 1rem;
}




 @media screen and (min-width: 900px){
    
    .menu-toggle{
        display: none;
    }

    .nav{
        justify-content: space-between;
    }

    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
    }

    .nav-item{
        margin: 0 2.4rem;
        border: none;
        border-bottom: 1.5px solid #fff;
    }

    .nav-item:last-child{
        margin-right: 0;
    }

    .nav-link{
        font-size: 1.3rem;
    }

    h1{
        font-size: 6.7rem;
    }

    .my-info{
        display: flex;
        align-items: center;
    }

    .my-info > div{
        flex: 1;
    }

    .padding-right{
        padding-right: 7rem;
    }

    .skill-box{
       width: 15rem;
       height: 20rem;
    }
} 